

#parent {
    /* This is a single-line comment */

    z-index: 1;
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    width: 800px;
}

